body {
    background: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 400;
    overflow-x: hidden;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-rows: auto;
    row-gap: 133px;
}
header {
    padding-top: 30px;
    padding-left: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
nav {
    width: 100%;
    justify-self: center;
}
header ul {
    list-style-type: none;
    display: flex;
    gap: 62px;
    font-size: 20px;
    flex-direction: row;
    white-space: nowrap;
}
a {
    text-decoration: none;
    color: white;
}
header button {
    min-width: 50px;
    min-height: 37px;
    justify-self: end;
    border-radius: 2px;
    position: absolute;
    top: 7px;
}
main {
    display: flex;
    grid-template-rows: auto auto;
}
main .catch {
    display: grid;
    grid-template-rows: auto auto;
    top: 0;
}
main .catchh2 {
    padding-left: clamp(1rem, 10vw, 162px);
    font-size: clamp(2rem, 6vw, 90px);
    z-index: 10;
}
main .studioh2 {
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-fill-color: transparent;
    z-index: 10;
}
main .catch .undercatch {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 30px;
    z-index: 10;
}
main .catch .undercatch img {
    padding-top: 33px;
    max-height: 5px;
    max-width: 130px;
}
main .catch .undercatch p {
    margin: 0;
    top: 0;
}
main .catch .undercatch .line2 {
    max-width: 324px;
}
main .catch .buttons {
    display: flex;
    gap: 28px;
    margin: 0;
    top: 0;
    padding-left: clamp(1rem, 10vw, 145px);
    padding-top: 57px;
    z-index: 10;
}
main .catch .buttons .buy {
    min-width: 156px;
    width: 100%;
    max-width: 220px;
    min-height: 52px;
    border-radius: 35px;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border-color: white;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}
main .catch .buttons .learn {
    display: flex;
    gap: 14px;
}
main .catch .buttons p {
    font-size: 20px;
}
main .catch .buttons .img {
    background-color: transparent;
    border-color: transparent;
}
main .catch .buttonhf {
    display: flex;
    flex-direction: column;
}
.hf {
    margin: 0;
    top: 0;
    position: absolute;
    left: clamp(1rem, 10vw, 13%);
}
.hf .normal {
    z-index: 5;
}
.hf .trans {
    position: absolute;
    top: 15%;
    left: 0;
    right: 50%;
    z-index: -1;
    filter: blur(20px);
}
.downright {
    display: flex;
    flex-direction: row;
    column-gap: 19px;
    position: relative;
    margin-left: 150%;
}
.downright .circle {
    padding-top: 10px;
    width: 10px;
    height: 10px;
}
.downright p {
    font-size: 22px;
    margin: 0;
    padding-bottom: 0;
}
.downright .vector {
    padding-top: 13px;
    padding-right: 37px;
    width: 10px;
    height: 8px;
}
.product {
    position: absolute;
    top: 25%;
    right: 0;
}
.product ul {
    list-style-type: none;
    display: flex;
    gap: 31px;
    font-size: 20px;
    flex-direction: row;
    white-space: nowrap;
    writing-mode: vertical-rl;
    justify-content: flex-end;
}
.product img {
    position: absolute;
    right: 56px;
}
@media (max-width: 768px) {
    nav ul {
        gap: 20px;
        font-size: 16px;
    }
    .catchh2 {
        font-size: 50px;
        padding-left: 40px;
    }
    .product {
        display: none;
    }
    .downright {
        display: none;
    }
}